# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Misc
/file
**/overlays
**/BELLID_HOME_IS_UNDEFINED
*.log
**/nbproject
**/nbactions*.xml
